@{
    ViewData["Title"] = "Reusable Components in ASP.NET Core";
}

<h1>@ViewData["Title"]</h1>

<h2>In 3 different ways...</h2>

<img src="intersection.svg" />

<h2>Related / Similar Ideas</h2>

<ul>
    <li><a href="https://legacy.reactjs.org/docs/components-and-props.html#composing-components">React: JSX</a></li>
    <li><a href="https://docs.djangoproject.com/en/dev/howto/custom-template-tags/#inclusion-tags">Django: Inclusion Tags</a></li>
    <li><a href="https://guides.rubyonrails.org/layouts_and_rendering.html#using-partials">Ruby on Rails: Partials</a></li>
    <li><a href="https://viewcomponent.org/">Ruby on Rails: View Components</a></li>
    <li><a href="https://shopify.github.io/liquid/tags/template/">Liquid: Templates</a></li>
</ul>
